<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <h1>Bienvenido a Indumentarias Online</h1>
    <p>¡Esta es la página de inicio renderizada con EJS!</p>
  </body>
</html>
